header{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    img{
        min-width: 89px;
    }
    button{
        @include button1;
        margin-left: 114px;
        padding: 9px 24px 11px 24px;
        width: 140px;
        height: 48px;
        @include breakpoint(desktopxl){
            width: 167px;
            height: 56px;
            font-size: 18px;
            padding: 14px 31px 14px 32px;
        }
        a{
            font-size: 14px;
            @include breakpoint(desktopxl){
                font-size: 18px;
            }
        }


    }
}