@mixin button1{
    background-color: $dark-blue;
    color: $white;
    padding: 14px 32px 14px 31px;
    border: none;
    border-radius: 28px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
  
    a {
        color: $white;
        text-align: center;
        font-family: $font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        text-decoration: none;
    }
  
    &:hover {
        background-color: $light-blue;
    }
}

@mixin button2{
    background-image: $gradient-pink;
    color: $white;
    padding: 19px 31px 16px 32px;
    border: none;
    border-radius: 31.5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
  
    a{
        color: $white;
        text-align: center;
        font-family: $font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        text-decoration: none;
    }
  
    &:hover {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    }
}
  

@mixin button3{
    background-image: linear-gradient(180deg,#4851FF  -54.32%, #F02AA6 100%);
    color: $white;
    padding: 14px 31px 14px 32px;
    border: none;
    border-radius: 28px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
  
    a {
        color: $white;
        text-align: center;
        font-family: $font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        text-decoration: none;
    }
  
    &:hover {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    }
}